header{
  color:white;
  background-color: rgb(64, 64, 92);
  text-align: center;
  font-size:16px;
}
h1{
  font-size:2rem;
}
.section-one h2{
  font-size:2rem;
}
.section-one{
  color:#ff7200;
  font-size:1.3rem;
}
.container{
  width:80%;
  max-width:700px;
  min-width: 500px;
  margin:auto;
}
.container img{
  width:100%;
}
.section-two{
  background-color:rgb(64, 64, 92); 
  color:#fff;
}
.section-two .container p{
margin-left:0px;
}
.section-two p:last-child{
  color:#ff7200;
}
button{
  background-color:#ff7200;
  color:white;
  border:none;
  padding: .5em 1em;
  border-radius:5px;
  margin: 1em;
}
.btn-one{
  font-size:1.5rem;
}
.btn-two{
  font-size:1.2em;
}
